body {
  font-family: Verdana, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;

}
#login{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3vw;
  padding-left: 5vw;
  padding-right: 5vw;
  background-color: #dce2d2f8;
  border: 3px solid #73814eb9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  text-align: center;    
}
#submit{
  padding-top: 0.6vw;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 0.6vw;
  font-size: 0.9vw;
  border: none;
  background-color: #878d35;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
h2{
  font-size: 1.6vw;
  position:absolute;
  right: 0;
  left: 0;
  text-align: center;

}
.ml
{
  margin-top: 5vw;
  font-size: 1vw;
}
.psw
{
  font-size: 1vw;

}
.close-login{
  float: right;
  transform: translate(4.5vw,-2.5vw);
  font-size: 1.2vw;
  font-weight: bold;
  border: none;
  background-color: transparent;
  cursor: pointer;

}


#mail{
  margin-top: 2%;
  font-size: 110%;
  padding-top: 0.2vw;
  padding-bottom: 0.2vw;
  padding-left: 1.8vw;
  padding-right: 1.8vw;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#password
{
  margin-top: 2%;
  font-size: 110%;
  padding-top: 0.2vw;
  padding-bottom: 0.2vw;
  padding-left: 1.8vw;
  padding-right: 1.8vw;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h1 {
  z-index: 10;
  color: #ffffff;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 34px;
  font-weight: 300;
  line-height: 45px;
  position: relative;
  padding-bottom: 50px;  
  text-shadow: 0.1em 0.1em 0.2em black;

  opacity: 0;
  transform: translateY(-20px);
  animation: fadeIn 2s ease-in-out forwards;  
}

@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(-20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.header-section {
  background-image: url('..\\..\\public\\images\\background.jpg');
  background-color: #6d6767b3;
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 200px; 
  position: relative; 
}

.nav {
  background-color: rgba(0, 0, 0, 0);
  padding-top: 40px;
  padding-bottom: 10px;
  padding-left: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.logo-text {
  color: #011605;
  text-align: left;
  margin-top: 3px;
  position: relative;
  left: auto;
  right: -45px;
  font-size: 25px;
  font-weight: 300;
  line-height: 30px;
  text-align: left;
  font-weight: 400;
}

.menu {
  opacity: .6;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 15px;
  transition: opacity .35s;
  padding-left: 30px;
  text-decoration: none;  
}

.menu:hover, .menu.current {
  opacity: 1;
  color: #fff;
  text-decoration: underline;
}

.menu.contact {
  background-color: rgba(255, 255, 255, .3);
  border-radius: 2px;
  margin-top: 9px;
  margin-left: 30px;
  padding: 15px;
  font-size: 15px;
  line-height: 18px;
}
.image-menu{
  display: none;
  cursor: pointer;
  padding-right: 30px;
  opacity: 0.68;
}

.menu.footer-link {
  float: right;
  margin-top: -30px;
  margin-bottom: 10px;
  margin-right: 50px;
  padding: 15px;
  text-decoration: none;
}
.menu.user_image{
  transform: translate(2vw, 1vw); 
  position: relative;
  padding: 0;
  
}
.menu.user_image.user{
  float: right;
  transform: translate(10vw, 2vw); 

}

.section.main-section{
  padding-top: 22px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 80px;
}


.container2 {
  background-color: rgba(122, 232, 179, 0.822);
  border-style:groove;
  padding: 25px; 
  padding-top: 40px;
  position: relative; 
  top: -70px;
}

.footer-section { 
  background-color: #24344e;
  margin-top: -28px;
  padding-top: 30px;
  padding-bottom: 3px;
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: 0%;
  border-style: solid;
}

.heading {
  letter-spacing: 0;
  text-transform: none;
  font-size: 55px;
  line-height: 60px;
  margin-bottom: 30px;
  z-index: 0;
}

.container1 { 
  height: 70px;
  display: flex;
  justify-content: space-between;
}
.container1 a{
  margin-right: 10px;
}

.image-logo{
  padding-left: 50px;
  padding-top: 10px;
  padding-right: 250px;
  opacity: 0.96;
}
.menu-container{
  position: right;
}
.menu-list{
  display: none;
  position: absolute;
  top: calc(100% + 32px);
  right: 28px;
  margin-right: 50px;
  background-color: #333;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.37);
  list-style: none;
  z-index: 5;

}
.menu-list li {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #011605;
  border-radius: 5px;
}

.menu-list a{
  text-decoration: none;
  color: #e0d6d6;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
}

.image-1 { 
  margin-top: 5%;
  margin-left: 8%;
  margin-bottom: 5%;
  width: 45%;
  height: auto;

}
.image-2 {
  margin-top: 5%; 
  margin-left: 9%;
  margin-bottom: 5%;
  padding-right: 0;
  width: 30%;
  height: auto;
}
.image-3 {
  margin-top: 30px;
  margin-bottom: 5%; 
  margin-left: 8%;
  width: 32%;
  height: auto;

}  
.image-4 { 
  margin-top: 30px;
  margin-bottom: 5%; 
  margin-left: 6%;
  padding-left: 10px;
  width: 45%;
  height: auto;

}

.tile-text {
  z-index: 20;
  color: #fae4e4;
  letter-spacing: 5px;
  text-transform: uppercase;
  object-fit: fill;
  margin-bottom: 230px;
  margin-left: 202px;
  padding-bottom: 0;
  padding-left: 66px; 
  font-size: 5vw;
  font-weight: 900; 
  line-height: 5vw;
  position: absolute;
  bottom: 24px;
  left: 25px;
  overflow: visible;
}

.italic-text {
  direction: ltr;
  text-align: left;
  text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.37);
  background-color: rgba(0, 0, 0, 0.58);
  text-decoration: none;
  display: flex;
  padding: 10%;
  margin-bottom: 10vw;
  margin-left: 40%;
  float: left;
}

#contactWindow {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #7b8899;
  border: 1px solid #030000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.user-button{
  float:right;
  margin-bottom: 1vw;
}
.close-button{
  float: right;
}
#userWindow {
  position: fixed;
  top: 26%;
  left: 79%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #8dc063;
  border: 1px solid #030000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}
.user-button{
  float: right;
  margin-top: -0.5vw;
  margin-right: 0vw;

}
@media screen and (max-width: 1600px)
{
  #userWindow {
    z-index: -1;
  }
  .menu.user_image.user
  {
    z-index: -1;
  }
}

  
@media screen and (min-width: 1700px){
  .heading{
      font-size: 70px;
  }
  .container2 img{
      height: auto;
      width: 40%;
      margin-top: 40px;
  }
  .image-1{
      margin-bottom: 18% ;
      margin-left: 6%;
      margin-right: -33px;
  }
  .image-2{
      padding-right: 20px;
  }
  .image-3{
      margin-left: 6%;
  }
  .header-section { 
      padding-left: 114px; 
      padding-right: 114px;
      padding-top: 200px; 
  } 
  .nav{
      padding: 60px;
      margin-left: 100px;
  }
  .italic-text {
      float: left;
      padding: 40px;
      margin-bottom: 350px;
      margin-left: 20%;
  }
}
@media screen and (max-width:1500px)
{
  .menu.user_image.user
  {
    display:none;
  }
  #userWindow{
    display: none;
    position: absolute;
    top: 24%;
    left: 82.5%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color:rgba(101, 86, 167, 0.87);
    border: 1px solid #030000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: -1;  
  }
}

@media screen and (max-width: 1180px) {
  h2{
      font-size: 2vw;  
  }
  .ml
  {
      margin-top: 5vw;
      font-size: 1.8vw;
  }
  .psw
  {
      font-size: 1.8vw;
  
  }
  .close-login{
      font-size: 1.4vw;
  }
  #submit{
      font-size: 1.6vw;
  }
  .header-section { 
      padding-left: 114px; 
      padding-right: 114px;
      padding-top: 200px; 
  }
  .nav {
      padding-top: 10px;
  }
  .section.main-section {
      padding-bottom: 100px;
  }
  .menu.footer-link { 
      margin-right: 50px;
      padding: 5px;
      padding-bottom: 17px;
  }
  .menu.footer-link.contact{
      padding: 8px;
  }
  .tile-text { 
      font-size: 36px;
      line-height: 50px; 
      margin: 8%;
      margin-bottom: 120%;      
     } 
  .image-1, .image-2, .image-3, .image-4{ 
      margin-left: 8%; 
      width: 85%;
      height: auto;  
  }
  .italic-text {
      font-size: 4vw;
      line-height: 4vw;
      margin-bottom: 255%;
      margin-left: 20%;
  }

  .image-4{
      margin-left: 6%;
  }
  .image-logo{
      padding-top: 40px;
      opacity: 0.98;
  }
  .image-menu {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 65px;
      margin-right: 50px;
  }
  .menu {
      display: none;
  }
  .menu.footer-link{
      display: block;
  }   
  .menu.contact {
      background-color: rgba(255, 255, 255, 0.188);
      margin-left: 4px;
      font-size: 15px;
      text-align: center;
      line-height: 15px;
      padding-top: 5px;
      padding-bottom: 6px;
      padding-right: 60px;
      padding-left: 25px;
  } 

} 

@media screen and (max-width: 962px) {
  h1 {
      font-size: 30px;
  }

  h2{
      font-size: 2vw;  
  }
  .ml
  {
      margin-top: 5vw;
      font-size: 1.8vw;
  }
  .psw
  {
      font-size: 1.8vw;
  
  }
  .close-login{
      font-size: 1.9vw;
  }
  #submit{
      font-size: 2vw;
  }
  .header-section { 
      padding-bottom: 80px; 
      padding-left: 46px; 
      padding-right: 46px;
  }
  .italic-text {
      float: left;
      font-size: 6vw;
      line-height: 7vw;
      margin-bottom: 200%;
      margin-left: -20%;
  }

  .logo-text {
      margin-bottom: 19px;
  }
  .menu.footer-link{
      float:inline-end;
      margin-top:3%;
  }
 .menu.footer-link.contact {
      float: right;
  }
  .section {
      padding-left: 20px;
      padding-right: 20px;
  }
  .section.main-section.home-page { 
      padding-left: 5px;
      padding-right: 5px;
  }
  .container2 {
      padding: 5px 0;
      top: auto;
      margin-top: -10%;
  }
  .footer-link-col { 
      text-align: center;
  }
  .form-wrapper { 
      width: 80%;
  }
  .container2 img {
      margin-left: 8%;
  }
  #contactWindow{
      padding: 30px;
  }

}

@media screen and (max-width: 702px){
  .italic-text {
      float: left;
      font-size: 6vw;
      line-height: 8vw;
      letter-spacing: normal;
      margin-bottom: 280%;
      margin-left: -10%;
  }
  .container2{
      margin-top: -15%;
      margin-left: -20%;
      margin-right: -20%;

  }
  h2{
      font-size: 3vw;  
  }
  .ml
  {
      margin-top: 7vw;
      font-size: 2.4vw;
  }
  .psw
  {
      font-size: 2.4vw;
  
  }
  .close-login{
      font-size: 1.9vw;
  }
  #submit{
      font-size: 2.4vw;
  }
}
@media screen and (max-width: 550px){
  .italic-text {
      float: left;
      font-size: 6vw;
      line-height: 8vw;
      letter-spacing: normal;
      margin-bottom: 250%;
      margin-left: -15%;
  }
  .container2{
      margin-top: -30%;
      margin-left: -20%;
      margin-right: -20%;

  }
  h2{
      font-size: 3vw;  
  }
  .ml
  {
      margin-top: 9vw;
      font-size: 2.8vw;
  }
  .psw
  {
      font-size: 2.8vw;
  
  }
  .close-login{
      font-size: 2.4vw;
  }
  #submit{
      font-size: 2.4vw;
  }
}
