#login5{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3vw;
    padding-left: 5vw;
    padding-right: 5vw;
    background-color: #dce2d2f8;
    border: 3px solid #73814eb9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    text-align: center;    
}
#submit5{
    padding-top: 0.6vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 0.6vw;
    font-size: 0.9vw;
    border: none;
    background-color: #878d35;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
h2{
    font-size: 1.6vw;
    position:absolute;
    right: 0;
    left: 0;
    text-align: center;

}
.ml5
{
    margin-top: 5vw;
    font-size: 1vw;
}
.psw5
{
    font-size: 1vw;

}
.close-login5{
    float: right;
    transform: translate(4.5vw,-2.5vw);
    font-size: 1.2vw;
    font-weight: bold;
    border: none;
    background-color: transparent;
    cursor: pointer;

}


#mail5{
    margin-top: 2%;
    font-size: 110%;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
    padding-left: 1.8vw;
    padding-right: 1.8vw;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#password5
{
    margin-top: 2%;
    font-size: 110%;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
    padding-left: 1.8vw;
    padding-right: 1.8vw;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.registration5{
    height: auto;
    width: 60vw;
    padding: 4vw;
    padding-bottom: 12vw;
    position: relative;
    transform: translate(25%,0%);
    background-color: #dce2d2ef;
    border: 3px solid #73814eb9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);    
}
label{
    font-size: 1.2vw;
    margin-left: 25vw;
    text-align: center;
}
#name5, #surname5, #email15, #age5, #password15{
    margin-top: 1%;
    font-size: 1.1vw;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
    padding-left: 4.8vw;
    padding-right: 4.8vw;
    border: 1px solid #ccc;
    margin-left: 18.2vw;
    border-radius: 5px;
}

#submit15{
    padding-top: 0.6vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 0.6vw;
    font-size: 0.9vw;
    margin-top: .1vw;
    border: none;
    background-color: #878d35;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transform: translate(160%,0%);
}

#text_register5
{
    font-size: 3vw;
    line-height: 3vw;
    margin-left: 2vw;
    margin-bottom: 0.2vw;
    text-align: center;
    transform: translate(0%,-60%);
}
#accept_text5{
    font-size: 0.7vw;
    line-height: 1vw;
}


.header-section5 {
    background-image: url('..\\..\\public\\images\\reg_back.jpg');
    background-color: #6d6767b3;
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 200px; 
    position: relative; 
}

.nav5 {
    background-color: rgba(0, 0, 0, 0);
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.logo-text5 {
    color: #011605;
    text-align: left;
    margin-top: 3px;
    position: relative;
    left: auto;
    right: -45px;
    font-size: 25px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    font-weight: 400;
}

.menu5 {
    opacity: .6;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 15px;
    transition: opacity .35s;
    padding-left: 30px;
    text-decoration: none;  
}

.menu5:hover, .menu5.current5 {
    opacity: 1;
    color: #fff;
    text-decoration: underline;
}

.menu5.contact5 {
    background-color: rgba(255, 255, 255, .3);
    border-radius: 2px;
    margin-top: 9px;
    margin-left: 30px;
    padding: 15px;
    font-size: 15px;
    line-height: 18px;
}
.image-menu5{
    display: none;
    cursor: pointer;
    padding-right: 30px;
    opacity: 0.68;
}

.menu5.footer-link5 {
    float: right;
    margin-top: -30px;
    margin-bottom: 10px;
    margin-right: 50px;
    padding: 15px;
    text-decoration: none;
}


.footer-section5 { 
    background-color: #24344e;
    margin-top: -28px;
    padding-top: 30px;
    padding-bottom: 3px;
    position:fixed;
    bottom: 0%;
    left: 0%;
    right: 0%;
    border-style: solid;
}

.container15 { 
    height: 70px;
    display: flex;
    justify-content: space-between;
}
.container15 a{
    margin-right: 10px;
}

.image-logo5{
    padding-left: 50px;
    padding-top: 10px;
    padding-right: 250px;
    opacity: 0.96;
}

.menu-container5{
    position: right;
}
.menu-list5{
    display: none;
    position: absolute;
    top: calc(100% + 32px);
    right: 28px;
    margin-right: 50px;
    background-color: #333;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.37);
    list-style: none;
    z-index: 5;

}
.menu-list5 li {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #011605;
    border-radius: 5px;
}

.menu-list5 a{
    text-decoration: none;
    color: #e0d6d6;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

#contactWindow5 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #7b8899;
    border: 1px solid #030000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}
.close-button5{
    float: right;
}


    
@media screen and (min-width: 1700px){
    .header-section5{ 
        padding-left: 114px; 
        padding-right: 114px;
        padding-top: 200px; 
    } 
    .nav5{
        padding: 60px;
        margin-left: 100px;
    }
}


@media screen and (max-width: 1180px) {
    #accept_text5{
        font-size: 0.9vw;
        line-height: 1vw;
    }
    .header-section5 { 
        padding-left: 114px; 
        padding-right: 114px;
        padding-top: 200px; 
    }
    .nav5 {
        padding-top: 10px;
    }
    .section5.main-section5 {
        padding-bottom: 100px;
    }
    .menu5.footer-link5 { 
        margin-right: 50px;
        padding: 5px;
        padding-bottom: 17px;
    }
    .menu5.footer-link5.contact5{
        padding: 8px;
    }
    .image-logo5{
        padding-top: 40px;
        opacity: 0.98;
    }
    .image-menu5 {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 65px;
        margin-right: 50px;
    }
    .menu5 {
        display: none;
    }
    .menu5.footer-link5{
        display: block;
    }   
    .menu5.contact5 {
        background-color: rgba(255, 255, 255, 0.188);
        margin-left: 4px;
        font-size: 15px;
        text-align: center;
        line-height: 15px;
        padding-top: 5px;
        padding-bottom: 6px;
        padding-right: 60px;
        padding-left: 25px;
    } 
    #accept_text5{
        font-size: 1.4vw;
        line-height: 1.7vw;
        padding-bottom: 2vw;
    }
    label{
        font-size: 1.6vw;
        margin-left: 23.5vw;
    }
    #name5, #surname5, #email15, #age5, #password15{
        font-size: 2.2vw;
        margin-left: 14vw;
    }
    #submit15{
        font-size: 1.9vw;
        transform: translate(115%,0%);
    }
    #age5{
        padding-right: 24.5vw;
    }
} 

@media screen and (max-width: 962px) {
    h1 {
        font-size: 30px;
    }
    .header-section5 { 
        padding-bottom: 80px; 
        padding-left: 46px; 
        padding-right: 46px;
    }
    .logo-text5 {
        margin-bottom: 19px;
    }
    .menu5.footer-link5{
        float:inline-end;
        margin-top:3%;
    }
   .menu5.footer-link5.contact5 {
        float: right;
    }
    .section5 {
        padding-left: 20px;
        padding-right: 20px;
    }
    .section5.main-section5.home-page5 { 
        padding-left: 5px;
        padding-right: 5px;
    }
    .footer-link-col5 { 
        text-align: center;
    }
    .form-wrapper5 { 
        width: 80%;
    }
    #contactWindow5{
        padding: 30px;
    }
    #accept_text5{
        font-size: 1.8vw;
        line-height: 1.7vw;
        padding-bottom: 2vw;
    }
    label{
        font-size: 2vw;
        margin-left: 22.5vw;
    }
    #name5, #surname5, #email15, #age5, #password15{
        font-size: 2.4vw;
        margin-left: 12vw;
    }
    #submit15{
        font-size: 1.9vw;
        transform: translate(120%,0%);
    }
}

@media screen and (max-width: 702px){
    #accept_text5{
        font-size: 1.8vw;
        line-height: 1.7vw;
        padding-bottom: 2vw;
    }
    label{
        font-size: 2.8vw;
        margin-left: 21.5vw;
    }
    #name5, #surname5, #email15, #age5, #password15{
        font-size: 2.4vw;
        margin-left: 10vw;
    }
    #submit15{
        font-size: 1.9vw;
        transform: translate(100%,0%);
    }
    
}
@media screen and (max-width: 550px){
    #accept_text5{
        font-size: 1.8vw;
        line-height: 1.7vw;
    }
    label{
        font-size: 2.8vw;
        margin-left: 21.5vw;
    }
    #name5, #surname5, #email15, #age5, #password15{
        font-size: 2.4vw;
        margin-left: 10vw;
    }
    #submit15{
        font-size: 1.9vw;
        transform: translate(100%,0%);
    }

}
