.container24{
    margin-top: 3vw;
    padding: 2vw;
    margin-left: 2vw;
    margin-right: 2vw;
    padding-bottom: 10vw;
}
h5{
    font-size: 1.2vw;
    text-align: justify; 
    font-weight: 100;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.column{
   display: flex;
   flex-direction: column; 
}
.product-card {
    width: 20%;
    margin-bottom: 2vw;
    padding: 1vw;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}
  
.product-image {
    width: 100%;
    height: 20vw;
    margin-bottom: 10px;
    padding-top: 3.5vw;
    cursor: pointer;

}
  
.product-name {
    font-size: 1.5vw;
    font-weight: bold;
    font-style: oblique;
    text-align: center;
    padding-top: 2vw;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    transform: translate(-6vw, -9.5vw);
    padding-bottom: 2vw;
}
  
.product-price {
    font-size: 1.5vw;
    color: #888;
}
#userWindow {
    position: fixed;
    top: 26%;
    left: 79%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #8dc063;
    border: 1px solid #030000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }
  .user-button{
    float: right;
    margin-top: -0.5vw;
    margin-right: 0vw;
  
  }
  @media screen and (max-width: 1600px)
  {
    #userWindow {
      z-index: -1;
    }
    .menu.user_image.user
    {
      z-index: -1;
    }
  }
  
.add-product{
    padding-top: 0.6vw;
    padding-bottom: 0.6vw;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1.3vw;
    border: none;
    background-color: rgb(71, 139, 71);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
#productInfo{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    max-height: 42vw;
    padding: 2vw;
    background-color: rgb(195, 222, 239);
    border: 1px solid #0c182a;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}
.product-image.info{
    width: 20vw;
    max-height: 30vw;
}

.add-product.info{
    color: white;
    padding: 1.4vw;
    margin-top: 2vw;
    width: 20vw;
    font-size: 1.5vw;
}
.product-info{
    font-size: 1.6vw;
    line-height: 1.9vw;
    
}
.product-name.info{
    font-size: 2.5vw;
    margin-left: 18vw;
    padding-bottom: 3vw;
}
.close-button4.info{
    margin-top: -2vw;
    margin-right: -2vw;
    padding: 0.7vw;
}

#cart_logo4{
    width: 6vw;
    height: auto;
    float: left;
    margin-left: 2vw;
}

h4 {
    z-index: 10;
    color: #5e3c3c;
    text-align: center;
    text-transform: uppercase;
    font-family: Lato, sans-serif;
    font-weight: 300;
    position: relative;
    padding-bottom: 2vw;  
    text-shadow: 0.1em 0.1em 0.2em black;

    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;  
    
    letter-spacing: 0;
    font-size: 5vw;
    line-height: 6vw;
    margin-top: 3vw;
    margin-bottom: -3vw;
    z-index: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

h5{
    font-size: 1.2vw;
    position: absolute;
    margin-left: 8vw;
    margin-top: 8vw;
    font-weight: lighter;

}
.menu4.user_image4
{
    z-index: 9999;
    width: 3vw;
    float: right;
    position:inherit;
    opacity: 1;
    
}
#login4{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3vw;
    padding-left: 5vw;
    padding-right: 5vw;
    background-color: #dce2d2f8;
    border: 3px solid #73814eb9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    text-align: center;    
}
#submit4{
    padding-top: 0.6vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 0.6vw;
    font-size: 0.9vw;
    border: none;
    background-color: #878d35;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
h2{
    font-size: 1.6vw;
    position:absolute;
    right: 0;
    left: 0;
    text-align: center;

}
.ml4
{
    margin-top: 5vw;
    font-size: 1vw;
}
.psw4
{
    font-size: 1vw;

}
.close-login4{
    float: right;
    transform: translate(4.5vw,-2.5vw);
    font-size: 1.2vw;
    font-weight: bold;
    border: none;
    background-color: transparent;
    cursor: pointer;

}


#mail4{
    margin-top: 2%;
    font-size: 110%;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
    padding-left: 1.8vw;
    padding-right: 1.8vw;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#password4
{
    margin-top: 2%;
    font-size: 110%;
    padding-top: 0.2vw;
    padding-bottom: 0.2vw;
    padding-left: 1.8vw;
    padding-right: 1.8vw;
    border: 1px solid #ccc;
    border-radius: 5px;
}



#text_register4
{
    font-size: 3vw;
    line-height: 3vw;
    margin-left: 2vw;
    margin-bottom: 0.2vw;
    text-align: center;
    transform: translate(0%,-60%);
}
#accept_text4{
    font-size: 0.7vw;
    line-height: 1vw;
}


.header-section4 {
    background-image: url('..\\..\\public\\photos\\products-background.jpg');
    background-color: #6d6767b3;
    background-position: 0 0;
    background-size:auto;
    padding-top: 200px; 
    position: relative; 
}

.nav4 {
    background-color: rgba(0, 0, 0, 0);
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.logo-text4 {
    color: #011605;
    text-align: left;
    margin-top: 3px;
    position: relative;
    left: auto;
    right: -45px;
    font-size: 25px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    font-weight: 400;
}

.menu4 {
    opacity: .6;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 15px;
    transition: opacity .35s;
    padding-left: 30px;
    text-decoration: none;  
}

.menu4:hover, .menu4.current4 {
    opacity: 1;
    color: #fff;
    text-decoration: underline;
}

.menu4.contact4 {
    background-color: rgba(255, 255, 255, .3);
    border-radius: 2px;
    margin-top: 9px;
    margin-left: 30px;
    padding: 15px;
    font-size: 15px;
    line-height: 18px;
}
.image-menu4{
    display: none;
    cursor: pointer;
    padding-right: 30px;
    opacity: 0.68;
}

.menu4.footer-link4 {
    float: right;
    margin-top: -30px;
    margin-bottom: 10px;
    margin-right: 50px;
    padding: 15px;
    text-decoration: none;
}


.footer-section4 { 
    background-color: #24344e;
    margin-top: -28px;
    padding-top: 30px;
    padding-bottom: 3px;
    position:fixed;
    bottom: 0%;
    left: 0%;
    right: 0%;
    border-style: solid;
}

.container14 { 
    height: 70px;
    display: flex;
    justify-content: space-between;
}
.container14 a{
    margin-right: 10px;
}

.image-logo4{
    padding-left: 50px;
    padding-top: 10px;
    padding-right: 250px;
    opacity: 0.96;
}

.menu-container4{
    position: right;
}
.menu-list4{
    display: none;
    position: absolute;
    top: calc(100% + 32px);
    right: 28px;
    margin-right: 50px;
    background-color: #333;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.37);
    list-style: none;
    z-index: 5;

}
.menu-list4 li {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #011605;
    border-radius: 5px;
}

.menu-list4 a{
    text-decoration: none;
    color: #e0d6d6;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

#contactWindow4 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #7b8899;
    border: 1px solid #030000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}
.close-button4{
    float: right;
}


    
@media screen and (min-width: 1700px){
    .header-section4 { 
        padding-left: 114px; 
        padding-right: 114px;
        padding-top: 200px; 
    } 
    .nav4{
        padding: 60px;
        margin-left: 100px;
    }
    .product-name{
        padding-bottom: 5vw;
    }
    h4{
        font-size: 4vw;
        margin-top: 1vw;
        margin-bottom: -5vw;
    }
    #productInfo{
        padding: 1.5vw;
    }
    .product-image{
        max-height: 25vw;
    }
    .product-info{
        font-size: 1.2vw;
        line-height: 1.3vw;
    }
    .add-product.info{
        font-size: 1.4vw;
        padding: 0.6vw;
        margin-top: 1vw;
        width: 20vw;
    }
    .product-image.info{
        width: 15vw;
    }
    .product-name.info{
        font-size: 2vw;
        margin-left: 20vw;
    }
    .close-button4.info{
        margin-top: -1.2vw;
        margin-right: 0%;
        padding: 0.5vw;
    }

}


@media screen and (max-width: 1180px) {

    .header-section4 { 
        padding-left: 114px; 
        padding-right: 114px;
        padding-top: 200px; 
    }
    .nav4 {
        padding-top: 10px;
    }
    .section4.main-section4{
        padding-bottom: 100px;
    }
    .menu4.footer-link4 { 
        margin-right: 50px;
        padding: 5px;
        padding-bottom: 17px;
    }
    .menu4.footer-link4.contact4{
        padding: 8px;
    }
    .image-logo4{
        padding-top: 40px;
        opacity: 0.98;
    }
    .image-menu4 {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 65px;
        margin-right: 50px;
    }
    .menu4 {
        display: none;
    }
    .menu4.footer-link4{
        display: block;
    }   
    .menu4.contact4 {
        background-color: rgba(255, 255, 255, 0.188);
        margin-left: 4px;
        font-size: 15px;
        text-align: center;
        line-height: 15px;
        padding-top: 5px;
        padding-bottom: 6px;
        padding-right: 60px;
        padding-left: 25px;
    } 
    #productInfo{
        max-height: none;
    }

    
} 

@media screen and (max-width: 962px) {
    h1 {
        font-size: 30px;
    }
    .header-section4 { 
        padding-bottom: 80px; 
        padding-left: 46px; 
        padding-right: 46px;
    }
    .logo-text4 {
        margin-bottom: 19px;
    }
    .menu4.footer-link4{
        float:inline-end;
        margin-top:3%;
    }
   .menu4.footer-link4.contact4 {
        float: right;
    }
    .section4 {
        padding-left: 20px;
        padding-right: 20px;
    }
    .section4.main-section4.home-page4 { 
        padding-left: 5px;
        padding-right: 5px;
    }
    .footer-link-col4 { 
        text-align: center;
    }
    .form-wrapper4 { 
        width: 80%;
    }
    #contactWindow4{
        padding: 30px;
    }
   
    .container24{
        margin-bottom: 10vw;
    }
    .product-card {
        width: 40%;
        height: auto;
        padding: 3vw;
    }
    .product-image {
        width: 100%;
        max-height: 28vw;
        height: auto;
    }
    .product-card.column{
        width: 40%;
        height: auto;
    }
      
    .product-name {
        font-size: 3vw;
        padding-top: 2vw;
        transform: translate(-6.6vw, -10.5vw);
        padding-bottom: 2vw;
    }
    .product-price, .add-product{
        font-size: medium;
    }
    .product-image.info{
        width: 25vw;
        height: auto;
        margin-left: 0;
    }
    .product-name.info{
        margin-left: 32%;
    }
    
}

@media screen and (max-width: 702px){
   
    .container24{
        margin-bottom: 20vw;
    }
    
}
